@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
img{
    width: 200px;
}
body {
    text-align: center;
    background-color: green;
    color: white;
}
h1 {
    font-family: "Italianno";
}